body{
	color: #666;
	font-style: normal;
    font-weight: 400;
    font-family: 'Artifakt',sans-serif;
    line-height: 1.4;
    font-size: 1.6rem;
}
div{
	display: block;
}
img{
	border-style: none;
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.noDecor{
	text-decoration: none;
	color: #666;
}
.noDecor : hover{
	text-decoration: none;
}
.top_image{
	cursor: pointer;

}
.header_image{
	cursor: pointer;
}

.card-text{
	font-family: 'Artifakt',sans-serif; 
	color: #333;
	font-size:1.4rem;
	line-height: 19px;
}
.hover_text:hover {
	color:black;
	text-decoration: none;
}
.price{
	color: #444;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 1.19047619;
}
.year{
	color: #444;
	font-size: 1.9rem;
    line-height: 1.10526316;
    font-weight: 400;
    box-sizing: border-box;
}
.strike_text{
	padding-right: .4rem;
	font-size: 1.6rem;
	line-height: 1.25;
	color:#999;
	font-weight: 400;
}